<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, height=device-height">
    <meta name="google-site-verification" content="C-nMA8eRpuFX0E1y0W_eirhO_iP8XJtWyGrrxON-dgc" />
    <title>Semantic UI Vue</title>
    <link rel="shortcut icon" type="image/png" href="<%= htmlWebpackPlugin.options.publicPath %>static/favicon.ico"/>
    <base href="<%= htmlWebpackPlugin.options.publicPath %>" target="_blank">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-39935118-3', 'auto');
  ga('send', 'pageview');
  </script>
</html>
