name: Build and Deploy

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: https://registry.npmjs.org/
      - run: yarn install
      # - run: yarn run lint
      # - run: yarn test
      # - uses: codecov/codecov-action@v1
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     file: ./coverage/clover.xml
      #     fail_ci_if_error: true
      - name: Build Documentation
        run: yarn run build:docs
        env:
          NODE_ENV: production
      # - name: Build library
      #   run: yarn run build:lib
      #   env:
      #     NODE_ENV: production
      - name: Prepare docs
        run: |
          cd dist/docs
          git init
          git config --global user.email "mariolamacchia@gmail.com"
          git config --global user.name "Semantic UI Vue CI"
          git remote add origin git@github.com:mariolamacchia/test.git
          git add -A
          git commit -m "Generate docs"
        # if: "github.ref == 'refs/heads/master'"
      - name: Deploy docs
        uses: ad-m/github-push-action@master
        # if: "github.ref == 'refs/heads/master'"
        with:
          github_token: ${{ secrets.GH_PAT }}
          repository: mariolamacchia/test
      - name: Release version
        if: "startsWith(github.ref, 'refs/tags/')"
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
